:root {
  --p-card-title-font-weight: var(--p-card-title-font-weight);
  --p-card-title-font-weight: var(--p-card-title-font-weight);
}

.filter {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
}

.button {
  background-color: var(--p-button-contrast-background);
  border: 1px solid var(--p-button-contrast-border-color);
}

.p-button:not(:disabled):hover {
  background-color: var(--p-button-contrast-hover-background);
  border: 1px solid var(--p-button-contrast-hover-border-color);
}

.clear {
  background-color: var(--p-select-background);
  border: 1px solid var(--p-button-contrast-border-color);
  color: var(--p-button-contrast-border-color);
}

.search {
  position: relative; /* Для позиционирования результатов относительно строки */
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 10;
}
