.assortiment {
  --padding: 50px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.assortiment--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
