@import "../assets//fonts/fonts.css";
@import "./base.css";

.container {
  width: 100vw;
  padding: 0 calc((100vw - var(--container)) / 2);
}

@media (max-width: 1250px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0 25px;
  }
}

body {
  font-family: "Cofosans";
}

.p-drawer {
  width: 30vw !important;
}

.title {
  font-size: 48px;
  color: var(--text-color);
}
